@import url("./global.css");
@import url("./components/button.css");
@import url("./components/input.css");
@import url("./components/header.css");
@import url("./components/footer.css");
@import url("./components/nav.css");
@import url("./home-page.css");
@import url("./stylesview.css");

.section-doable {
  width: 360px;
  margin: auto;
}

.tasks-list {
  width: 360px;
  margin: auto;
}

.task {
  display: flex;
  gap: 10px;
  width: 328px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.task-info {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.task-info-2 {
  display: flex;
  justify-content: space-between;
}

.task-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
}

.due-date {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

.exclamation-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-input {
  width: 16px;
  height: 16px;
}

.mt-4 {
  margin-top: 1rem;
}
